<form #form="ngForm" *ngIf="user">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      name="email"
      type="email"
      required
      email
      aria-label="Email input"
      matInput
      [(ngModel)]="data.email"
      #email="ngModel"
    />
    <mat-error>
      <ng-container *ngIf="email.touched && email.invalid && email.errors">
        <span *ngIf="email.errors['required']">Enter your email</span>
        <span *ngIf="email.errors['email']">Enter a valid email</span>
      </ng-container>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input
      name="first_name"
      type="text"
      required
      aria-label="First name input"
      matInput
      [(ngModel)]="data.first_name"
      #firstName="ngModel"
    />
    <mat-error>
      <ng-container
        *ngIf="firstName.touched && firstName.invalid && firstName.errors"
      >
        <span *ngIf="firstName.errors['required']">Enter your first name</span>
      </ng-container>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input
      name="last_name"
      type="text"
      required
      aria-label="last name input"
      matInput
      [(ngModel)]="data.last_name"
      #lastName="ngModel"
    />
    <mat-error>
      <ng-container
        *ngIf="lastName.touched && lastName.invalid && lastName.errors"
      >
        <span *ngIf="lastName.errors['required']">Enter your last name</span>
      </ng-container>
    </mat-error>
  </mat-form-field>
  <section class="buttons">
    <ng-container *ngIf="user.id > 0; else create">
      <button
        type="button"
        color="warn"
        mat-raised-button
        (click)="onDelete(form)"
        [disabled]="loading"
      >
        Delete
      </button>
      <button
        type="button"
        mat-raised-button
        [disabled]="form.invalid"
        (click)="onUpdate(form)"
        [disabled]="loading"
      >
        Update
      </button>
    </ng-container>
    <ng-template #create>
      <button
        type="button"
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
        (click)="onCreate(form)"
        [disabled]="loading"
      >
        Create
      </button>
    </ng-template>
  </section>
</form>
