form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  mat-form-field {
    display: block;
    margin-bottom: 10px;
  }

  .buttons {
    align-self: flex-end;
    display: inline-block;
    button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  :host {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  form {
    width: 500px;
  }
}
