:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-container {
  display: flex;
  flex-direction: column;
  padding: 25px;

  a {
    margin-top: 10px;
    align-self: flex-end;
  }
}

@media screen and (max-width: 600px) {
  :host {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .user-container {
    width: 500px;
  }
}
