<p>
  <mat-toolbar color="primary">
    <span>ngrx-poc</span>
    <span class="example-spacer"></span>
    <a mat-stroked-button routerLinkActive="active" routerLink="users">Users</a>
    <a
      mat-button
      routerLinkActive="active"
      routerLink="auth/login"
      hideIfAuthenticated
      >Sign In</a
    >
    <a
      mat-button
      routerLinkActive="active"
      routerLink="auth/register"
      hideIfAuthenticated
      >Sign Up</a
    >
    <a mat-button showIfAuthenticated (click)="logOut()">Log Out</a>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
